set visualbell
set noerrorbells
let mapleader = " "
set relativenumber
set splitbelow splitright

" with actionlist <PATTERN> you can find all options
map <leader>r :action RenameElement<CR>
map <leader>su :action ShowUsages<CR>
map <leader>U :action FindUsages<CR>
map <leader>T :action ActivateTerminalToolWindow<CR>

inoremap HH <Esc>/<++><Enter>"_c4l
nmap <leader>H /<++><CR>"_c4l
nnoremap tn :tabnew<Space>
nnoremap tk :tabnext<CR>
nnoremap tj :tabprev<CR>
nnoremap th :tabfirst<CR>
nnoremap tl :tablast<CR>
nnoremap <leader>q :wq<Enter>
nnoremap <leader>Q :q!<Enter>
nnoremap <leader>w :w<Enter>
nmap <leader>Kk dt]
nmap <leader>KK dt}
noremap <leader>m `
nmap <leader>jj <C-W>j
nmap <leader>kk <C-W>k
nmap <leader>hh <C-W>h
nmap <leader>ll <C-W>l
inoremap <C-o> <C-x><C-p>
inoremap <C-k> <C-x><C-k>
inoremap <C-l> <C-x><C-k>
vnoremap <C-c> "*y
map <C-p> "*P
nnoremap ,z z=
nnoremap <leader>ss <C-D>
nnoremap <leader>aa <C-U>
nnoremap <leader>as <C-F>
nnoremap <leader>sa <C-B>
nnoremap <leader>sp :split<space>
nnoremap <leader>vp :vsplit<space>
nnoremap <leader>y "a
map <leader><space> ^
noremap <enter> $
nnoremap <leader>o o
nnoremap o $a<Enter><Esc>
nnoremap O O<Esc>
noremap , "
inoremap ; <esc>l
imap AA ~
imap ZZ _
imap Dd -
imap FF =
imap DD +
imap QQ '
imap Jj [
imap Kk ]
imap JJ {
imap KK }
imap SS \
cmap AA ~
cmap ZZ _
cmap Dd -
cmap FF =
cmap DD +
cmap QQ '
cmap Jj [
cmap Kk ]
cmap JJ {
cmap KK }
cmap SS \
nnoremap <leader>ff /def<Space><Enter>
nnoremap <leader>cc ^i# <Esc>j^
nnoremap <leader>un ^xxj^
nnoremap <leader>cl /class<Space><Enter>
