set editing-mode vi
set keymap vi-command
"  ": "^"
",,": "$"
",c": "c$"

set keymap vi-insert
",t": "| tee -a /tmp/cmd.txt"
"ZZ": "_"
"EE": "|"
"QQ": "'"
"FF": "="
"AA": "~"
"Dd": "-"
"Jj": "["
"Kk": "]"
"JJ": "{"
"KK": "}"
"SS": "\\"
"DD": "+"
